@import './helper/rfs.scss';

.impressum {
    .wrapper {
        margin: 0 auto;
        max-width: 1500px;
        padding: 1rem 3rem;
        text-align: right;

        @media screen and (max-width: 700px) {
            padding: 1rem 2rem;
        }

        h1 {
            font-family: 'Times New Roman', Times, serif;
            letter-spacing: 0.15rem;
            margin-top: 0;
            margin-bottom: 2rem;
            @include rfs(5rem);
        }

        address {
            font-style: normal;
        }

        a {
            text-decoration: underline;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 400;
            @include rfs(1rem);
        }
    }
}