article.intro {
    padding: 5rem 3rem;

    @media screen and (max-width: 700px) {
        padding: 4rem 2rem;
    }

    .row {
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        padding: 0;
    }

    h1 {
        display: inline-block;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 0.15rem;
        @include rfs(20rem);
        line-height: 0.7;
    }

    h2 {
        display: inline-block;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
        color: grey;
        @include rfs(3rem);
        margin-top: 0.4rem;
        line-height: 1.3;

        &.second {
            margin-top: 9rem;
            margin-bottom: 4rem;
        }


        @media screen and (max-width: 1275px) {

            &.first {
                margin-top: 9rem;
                margin-bottom: 4rem;
            }

            &.second {
                margin-top: 0;
                margin-bottom: 4rem;
            }
        }

        @media screen and (max-width: 870px) {
            @include rfs(1.5rem);

            &.first {
                margin-top: 4.5rem;
                margin-bottom: 2rem;
            }

            &.second {
                margin-top: 0;
                margin-bottom: 2rem;
            }
        }
    }

    h3,
    h4 {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
        @include rfs(1rem);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 1rem;

        li {
            font-family: 'Courier New', Courier, monospace;
            font-weight: 400;
            color: grey;
            @include rfs(1rem);
            line-height: 1.3;
        }
    }

    .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 1275px) {
            flex-direction: column;
        }
    }

    .row.second {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 540px) {
            flex-direction: column;
        }

        .list {
            flex-basis: 33.33%;

            @media screen and (max-width: 950px) {
                flex-basis: 50%;
            }

            &:nth-child(1) {
                text-align: left;

                ul li {
                    text-indent: -1.2rem;
                }

                ul {
                    margin-left: 1.2rem;
                }
            }

            &:nth-child(2) {
                text-align: center;

                @media screen and (max-width: 950px) {
                    display: none;
                }

                @media screen and (max-width: 540px) {
                    display: block;
                    margin-top: 2.5rem;
                }
            }

            &:nth-child(3) {
                text-align: right;

                @media screen and (max-width: 540px) {
                    margin-top: 2.5rem;
                }
            }
        }
    }

    .row.third {
        display: none;
        text-align: center;
        margin-top: 4rem;

        @media screen and (max-width: 950px) {
            display: block;
        }

        @media screen and (max-width: 540px) {
            display: none;
        }
    }
}