article.statement {
    background-color: black;

    .wrapper {
        margin: 0 auto;
        max-width: 1500px;
        padding: 5rem 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40vw;

        @media screen and (max-width: 1502px) {
            padding: 5rem 3rem;
        }

        @media screen and (max-width: 1098px) {
            flex-direction: column;
            height: auto;
            text-align: center;
            padding-top: 1rem;
        }

        @media screen and (max-width: 700px) {
            padding: 2rem;
        }

        section {
            &:first-child {
                .circle {
                    display: inline-block;
                    width: 30vw;
                    height: 30vw;
                    border-radius: 50%;
                    overflow: hidden;
                    flex-shrink: 0;
                    margin: 3rem 0;
                    @media screen and (max-width: 1098px) {
                        margin: 0;
                        width: 75vw;
                        height: 75vw;
                    }
                }

                .circle img {
                    height: 100%;
                    margin: 0 auto;
                }
            }

            &:last-child {
                text-align: right;

                @media screen and (max-width: 1098px) {
                    text-align: center;
                }

                blockquote {
                    font-family: 'Times New Roman', Times, serif;
                    letter-spacing: 0.15rem;
                    @include rfs(5rem);
                    color: white;
                    margin: 0;
                    line-height: 1.25;
                    display: flex;
                    flex-direction: row;

                    div {
                        @include rfs(15rem);
                        line-height: 0.6;
                        margin-top: -2rem;
                        margin-bottom: 1rem;

                        @media screen and (max-width: 740px) {
                            margin-top: -1.3rem;
                        }

                        @media screen and (max-width: 400px) {
                            margin-top: -1rem;
                        }
                    }

                    .text-left {
                        text-align: left;
                        align-self: flex-start;
                    }

                    span {
                        padding: 10rem 0;
                        margin: 0 -5rem;
                        text-align: center;
                        align-self: center;

                        @media screen and (max-width: 980px) {
                            padding: 7rem 0;
                        }

                        @media screen and (max-width: 510px) {
                            padding: 5rem 0;
                        }
                    }

                    .text-right {
                        text-align: right;
                        align-self: flex-end;
                    }
                }
            }
        }
    }
}