article.timeline {
    background-color: black;

    .wrapper {
        margin: 0 auto;
        max-width: 1500px;
        padding: 5rem 3rem;
        padding-bottom: 2.5rem;

        @media screen and (max-width: 700px) {
            padding: 2rem;
            padding-bottom: 1rem;
        }


        h2 {
            display: inline-block;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 400;
            color: grey;
            @include rfs(3rem);
            margin-top: 0.4rem;
            line-height: 1.3;

            @media screen and (max-width: 920px) {
                @include rfs(1.5rem);
            }
        }

        .timeline-wrapper {
            $timeline-breakpoint: 750px;
            display: flex;
            flex-direction: column;

            section {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;

                @media screen and (max-width: $timeline-breakpoint) {
                    flex-direction: column;
                    margin-bottom: 2rem;
                }

                .article-wrapper {
                    width: 50%;

                    @media screen and (max-width: $timeline-breakpoint) {
                        width: 100%;
                        order: 3;
                    }

                    article {
                        border: 1px solid grey;
                        background-color: white;
                        padding: 1rem;
                        margin: 3vw;
                        border-radius: 8px;
                        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);

                        @media screen and (max-width: $timeline-breakpoint) {
                            margin: 1rem 0;
                        }

                        h3 {
                            font-family: 'Courier New', Courier, monospace;
                            font-weight: 400;
                            color: grey;
                            @include rfs(1.5rem);
                            margin: 0;
                            line-height: 1.3;
                        }

                        p {
                            font-family: 'Courier New', Courier, monospace;
                            font-weight: 400;
                            @include rfs(1rem);
                            line-height: 1.2;
                            margin: 0;
                            margin-top: 1rem;
                        }
                    }
                }

                .line {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    margin-left: -1px;
                    width: 4px;
                    background-color: white;

                    @media screen and (max-width: $timeline-breakpoint) {
                        display: none;
                    }
                }

                &:first-child {
                    .line {
                        top: 50%;
                    }
                }

                &:last-child {
                    .line {
                        bottom: 50%;
                    }
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -1.5vw;
                    margin-top: -1.5vw;
                    width: 3vw;
                    height: 3vw;
                    border: white 1px solid;
                    border-radius: 100%;
                    background-color: white;
                    background-size: 50%;
                    background-repeat: no-repeat;
                    background-position: center;

                    @media screen and (max-width: $timeline-breakpoint) {
                        position: relative;
                        top: auto;
                        left: auto;
                        margin-left: 0;
                        margin-top: 1rem;
                        width: 5vw;
                        height: 5vw;
                        order: 2;
                    }

                    @media screen and (max-width: 400px) {
                        width: 7.5vw;
                        height: 7.5vw;
                    }

                    &.work {
                        background-image: url('/images/icons/person-digging-solid.svg');
                    }

                    &.education {
                        background-image: url('/images/icons/user-graduate-solid.svg');
                    }

                    &.private {
                        background-image: url('/images/icons/person-solid.svg');
                    }
                }

                span {
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 400;
                    @include rfs(1.3rem);
                    letter-spacing: 0.1rem;
                    color: white;

                    @media screen and (max-width: $timeline-breakpoint) {
                        font-size: 1rem;
                        order: 1
                    }
                }

                &:nth-child(2n) {
                    align-self: flex-end;
                    flex-direction: row-reverse;

                    @media screen and (max-width: $timeline-breakpoint) {
                        flex-direction: column;
                    }

                    span {
                        padding-right: 3vw;

                        @media screen and (max-width: $timeline-breakpoint) {
                            padding-right: 0;
                        }
                    }
                }

                &:nth-child(2n+1) {
                    span {
                        padding-left: 3vw;

                        @media screen and (max-width: $timeline-breakpoint) {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}